/* General */
* {
    text-decoration: none;
}
body {
    margin: 0;
    overflow-x: hidden;
}
h1 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
    margin: 0.5rem 0rem;
}
h2 {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 3rem;
}
p {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}
.lexend-header {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}
.elms-sans-text {
    font-family: "Elms Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Nav */
header {
    background-color: #4A33E0;
    padding: 1rem;
}
header nav {
    display: flex;
    align-items: center;
}
.navigationLogo {
    height: 3rem;
}
.signUp {
    background-color: #F4C10B;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1.5rem;
}
.signUp a {
    color: white;
}
.login {
    background-color: #4A33E0;
    text-decoration: none;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    padding-right: 2rem;
}
.login a {
    color: white;
}
header nav .profilePicture {
    display: flex;
    justify-content: flex-end;
    height: 3rem;
}
header nav .elements {
    display: flex;
    justify-content: flex-end;
    width: 300%;
}
header nav .signLogContainers {
    display: flex;
    justify-content: flex-end;
    width: 300%;
    height: 50px;
}

/* Footer */
footer {
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #4A33E0;
    color: white;
}
.footerImagesRoot {
    width: 100%;
}
.footerImagesRoot img {
    width: 10%;
}
.youtubeIconRoot {
    padding-left: 2.5rem;
}
.footernavigationRoot {
    display: flex;
    flex-direction: column;
    padding-left: 14rem;
}
.footercomplianceRoot {
    display: flex;
    flex-direction: column;
    padding-left: 12rem;
}
.footercomplianceRoot p {
    margin: 1px;
}
.footercomplianceRoot p b {
    font-size: 2rem;
}
.footernavigationRoot p {
    margin: 1px;
}
.footernavigationRoot p b {
    font-size: 2rem;
}
.footerIncRoot {
    display: flex;
    justify-content: bottom;
    padding-left: 2.5rem;
}
.footerLogoRoot {
    display: flex;
    width: 40%;
    padding-top: 2rem;
    padding-left: 2.5rem;
}


/* Index */
.heroRoot {
    display: flex;
    margin: 3rem;
    color: #4A33E0;
}
.scrollImg {
    width: 100%;
}
.scrollImg img {
    rotate: 15deg;
    height: 100%;
    padding: 3rem;
}
.heroButton {
    background-color: #4A33E0;
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}
.heroButton a {
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.cardsRoot {
    display: flex;
    margin: 10rem 0rem 0rem 0rem;
    color: white;
}
.cardsRoot div {
    background-color: #4A33E0;
    padding: 1rem;
    margin: 1rem;
    border-radius: 2rem;
}
.interactiveRoot {
    color: #4A33E0;
}
.chaseRoot {
    color: #4A33E0;
}
/* Auth */
.authRoot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.authRoot form input {
    margin: 0.25rem 0rem;
}
.authRoot form button {
    background-color: #4A33E0;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0.5rem 0rem;
    cursor: pointer;
}
.changeButton {
    background-color: white;
    border: none;
    cursor: pointer;
}

/* Account */

/* Explore */

video {
    min-width: none;
    border-radius: 3rem;
    border: solid black;
}
.taskRoot {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.taskRoot form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid black;
    padding: 2rem;
    border-radius: 1rem;
}
.taskRoot form input {
    margin: 0.5rem 0rem;
}
.taskRoot form button {
    background-color: #4A33E0;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}